-e .

# python-dotenv 1.0+ no longer supports Python 3.7
python-dotenv>=0.21,<2

pytest-benchmark>=4,<5
perf_baseline>=0.1,<0.2

# For lab_config.py to fetch test secrets from Key Vault
azure-identity>=1.12,<2
azure-keyvault-secrets>=4.6,<5

