# This sample can be configured to work with Microsoft Entra ID's Managed Identity.
#
# A user-assigned managed identity can be represented as a JSON blob.
# Check MSAL Python's API Reference for its syntax.
# https://msal-python.readthedocs.io/en/latest/#managed-identity
MANAGED_IDENTITY=<managed_identity>

# Managed Identity works with resource, not scopes.
RESOURCE=<your resource>

# Required if the sample app wants to call an API.
#ENDPOINT=https://graph.microsoft.com/v1.0/me

