# This sample can be configured to work with Microsoft External ID with custom domain.
#
# If you are using a Microsoft External ID tenant with custom domain,
# configure the OIDC_AUTHORITY variable as
# "https://www.contoso.com/TENANT_GUID/v2.0"
OIDC_AUTHORITY=<authority url>

# The following variables are required for the app to run.
CLIENT_ID=<client id>

# Leave it empty if you are using a public client which has no client secret.
CLIENT_SECRET=<client secret>

# Multiple scopes can be added into the same line, separated by a space.
# Here we use a Microsoft Graph API as an example
# You may need to use your own API's scope.
SCOPE=<your scopes>

# Required if the sample app wants to call an API.
#ENDPOINT=https://graph.microsoft.com/v1.0/me

# Required if you are testing the username_password_sample.py
#USERNAME=<username>
